:global .nav {
  width: 200px;
  height: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.3s;
  .navContent {
    flex: 1;
    width: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .ant-menu-light {
    background: rgba(255, 255, 255, 0.9);
  }
  .ant-menu-item {
    padding-top: 10px;
    padding-bottom: 10px;
    height: auto;
    overflow: hidden;
    a {
      display: flex;
      align-items: center;
      span {
        font-weight: 600;
      }
    }
    img {
      width: 30px;
      height: 30px;
      overflow: hidden;
      margin-right: 8px;
    }
  }
  .iconContainer {
    background: rgba(255, 255, 255, 0.99);
    padding: 8px;
    overflow: hidden;
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    .anticon {
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
    }
    .titleText {
      flex: 1;
      font-size: 16px;
      font-weight: 700;
      color: #333;
      padding-left: 10px;
    }
    .icon {
      cursor: pointer;
      display: inline-block;
      left: 20px;
      top: 5px;
      height: 47px;
      width: 47px;
      border-radius: 50%;
      padding: 2px;
      color: #449eff;
    }
  }
}

:global .foldNav {
  width: 80px;
  .iconContainer {
    flex-direction: column;
    .titleText {
      text-align: center;
      padding: 8px;
      padding-top: 0;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .ant-menu-item {
    text-align: center;
    padding-left: 16px !important;
    a {
      flex-direction: column;
      justify-content: center;
      span {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    img {
      margin-bottom: 8px;
      margin-right: 0;
    }
  }
}

:global .ant-menu-root {
  height: 100%;
}
